<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
        <title>要素识别Demo</title>
    </head>
    <body>

        <h1>BERT模型要素识别结果展示Demo</h1>
        <form method="post" action="/result/show">
        <p>请输入你的案由文本:<br><br><textarea rows="10" cols="50" name="content"></textarea></p>
        <p>请选择案由范畴:<br><select name="type">
            <option value="盗窃罪">盗窃罪</option></select>
       <br><br><br><input type="submit">
        </form>
    </body>
</html>
